@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #F3F3F3;
        --text-color: #333333;
        --nav-bg: #F3F3F3;
        --link-color: #0066ff;
        --border-color: #cccccc;
    }

    .dark {
        --bg-color: #111111;
        --text-color: #eeeeee;
        --nav-bg: #111111;
        --link-color: #66b3ff;
        --border-color: #444444;
    }

    body {
        font-family: 'Iowan Old Style BT', Georgia, serif;
        font-size: 11pt;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}